header.login {
    background: url('../images/bg-login.jpg') no-repeat !important;
    margin-bottom: 0;
}

header.login .local-titulo {
    padding: 70px 0 0 0;
}

header.login:after {    
    content: url('../images/onda-login.svg');
    margin-top: 10px;
    position: relative;
    bottom: -11px;
}

footer:before {    
    content: '' !important;
    bottom: 0 !important;
}

/*
html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background: url('../images/bg-login.jpg') no-repeat;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    position: relative;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin h1 {
    font-family: merengue-script, sans-serif;
    font-weight: 400;
    padding-bottom: 20px;
    font-size: 50px;
}

.form-signin h1 span {
    display: block;    
}

.form-signin h1 span.curso {
    font-size: 12px;
    font-family: museo-slab, serif;
    font-weight: 700;
    line-height: 0;
    margin-left: -210px;
}

.form-signin h1 span.gestao {
    font-size: 55px;
    line-height: -1;
    margin: 0;
    padding: 0;
    line-height: 0.8;
    word-spacing: 45px;
}

.form-signin h1 span.gestao:after {
    font-size: 55px;
    content: "Gestão";
    margin-top: -4px;
    margin-left: -524px;
    position: absolute;
}

.form-signin h1 small {
    font-size: 36px;
}

.form-signin h1 small:after {
    font-size: 37px;
    content: "das";
    margin-top: 22px;
    margin-left: -108px;
    position: absolute;
}

.form-signin h1 span.emocoes {
    font-size: 93px;
    line-height: 0.4;
}

.form-signin h1 span.emocoes:after {
    font-size: 95px;
    content: "emoções";
    margin-top: -8px;
    margin-left: -615px;
    position: absolute;
}

.form-signin h2 {
    font-weight: 900;
    font-size: 11px;
    text-align: left;
    line-height: 0.9;
    margin-left: 13%;
}
*/