@media (max-width: 767px) {
    
    html, body{
        overflow-x: hidden; 
    }
    
    body {
        font-size: 17px;
    }

    .titulo {
        -webkit-text-stroke-width: 1px;
        color: transparent;
    }

    header {
        background-position: 42% center;
    }

    header h1 span.curso {
        font-size: 14px;
        line-height: 0;
        margin-left: -115px;
    }

    header h1 span.gestao {
        font-size: 60px;
        line-height: 0.8;
        word-spacing: 25px;
    }

    header h1 span.gestao:after {
        font-size: 60px;
        content: "Gestão";
        margin-top: -3px;
        margin-left: -290px;
    }

    header h1 small {
        font-size: 43px;
    }

    header h1 small:after {
        font-size: 44px;
        margin-top: 9px;
        margin-left: -64px;
    }

    header h1 span.emocoes {
        font-size: 100px;
        line-height: 0.4;
    }

    header h1 span.emocoes:after {
        font-size: 101px;
        margin-top: -4px;
        margin-left: -327px;
    }
    
    header h3 {
        font-size: 18px;
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }
    
    header h6 {
        font-size: 26px;
        margin-left: 0;
        cursor: pointer;
        min-width: 150px;
        position: initial;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    header .local-logo svg {
        width: 70%;
    }
    
    header .local-logo svg {
        width: 70%;
    }
    
    #parceiros  svg {
        width: 70%;
    }
    
    #parceiros  svg {
        width: 70%;
    }
    
    #parceiros h4, #parceiros h5 {
        font-size: 16px;
    }
    
    #apresentacao h2 {
        font-size: 28px;
        padding: 0 20px;
        margin: 0 0 0 10px;
    }
    
    #apresentacao h3 {
        font-size: 63px;
        font-family: merengue-script, sans-serif;
        font-weight: 400;
        text-align: right;
        margin: -12px 20px 0 0;
    }

    #apresentacao h3:after {
        font-size: 62px;
        content: "E você?";
        margin-top: -3px;
        margin-left: -222px;
        position: absolute;
    }
    
    #numeros:before {    
        position: relative;
        top: -1px;
    }
    
    #numeros h2 {
        font-size: 59px;  
        line-height: 1;
    }

    #numeros h2:after {
        font-size: 58px;
        content: '"o mundo que somos",';
        margin-top: -62px;
        margin-left: -268px;
        position: absolute;
        z-index: 9999;
    }

    #numeros h3 {
        font-size: 50px;
        font-family: merengue-script, sans-serif;
        font-weight: 400;
        text-align: center;
        margin: 0 0 20px 0; 
    }

    #numeros h4 {
        font-size: 20px;
    }
    
    #numeros .local-valor {
        margin: auto;
    }
    
    #sobre {
        padding-top: 40px;
    }
    
    #sobre h1 {
        margin-top: 20px;
    }

    #sobre h1 span.gestao {
        font-size: 60px;
        line-height: 0.8;
        word-spacing: 25px;
    }

    #sobre h1 span.gestao:after {
        font-size: 60px;
        content: "Gestão";
        margin-top: -3px;
        margin-left: -290px;
    }

    #sobre h1 small {
        font-size: 43px;
    }

    #sobre h1 small:after {
        font-size: 44px;
        margin-top: 9px;
        margin-left: -64px;
    }

    #sobre h1 span.emocoes {
        font-size: 100px;
        line-height: 0.4;
    }

    #sobre h1 span.emocoes:after {
        font-size: 101px;
        margin-top: -4px;
        margin-left: -327px;
    }
    
    #sobre h2 {
        font-size: 28px;
        padding: 0 20px;
    }
    
    #mensagem:before {
        position: relative;
        top: -1px;
    }
    
    #mensagem .carrossel-mensagem {
        margin-top: -30px;
    }
    
    #mensagem .espaco {
        min-height: 490px;
    }
    
    #mensagem .foto {
        margin: auto;
    }
    
    #mensagem .frase {
        padding-left: 30px;
        padding-right: 30px;
    }    
    
    #mensagem .aspas:before {
        content: '';
    }

    #mensagem .aspas:after {
        content: '';
    }

    #preparese {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    #preparese h2 span.preparese, #preparese h2 span.vida {
        font-size: 20px;
    }

    #preparese h2 span.preparese {
        padding-right: 60px;
        padding-bottom: 10px;
        left: 30px;
        text-align: left;
    }    

    #preparese h2 span.vida {
        padding-top: 30px;
        position: absolute;
        left: 35%;
        text-align: left;
        margin-left: 20px
    }
    
    #preparese h2 span.texto-primario {
        font-size: 70px;
        line-height: 0.7;
    }

    #preparese h2 span.texto-primario:after {
        font-size: 70px;
        margin-top: -102px;
        margin-left: -190px;
        position: absolute;
    }
    
    #formulario h3 {
        font-size: 20px;
        marmargin-top: 40px;
        marmargin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    header h6 {
        right: 70px;
    }

    header .presente {
        padding-left: 15px;
    }
    
    #modal-dados .modal-body {
        padding: 0 30px 30px 30px;
    }
    
    #modal-dados .modal-body h3 {
        font-size: 22px !important;
    }

    #modal-dados .modal-body p {
        font-size: 18px !important;
    }
    
    header .local-titulo {
        margin-top: 30px;
    }

    header .logo-branco {
        padding: 0 15px;
    }
    
    footer .logos .sas {
        padding: 0 10px;
    }

    footer .logos .focos {
        padding: 0 10px;
    }

    footer .logos .ei {
        padding: 0 10px;
    }

}

@media (max-width: 990px) {

    header h3 br {
        display: none;
    }

    header h6 {
        right: 70px;
    }

    header .presente {
        padding-left: 15px;
    }

    #parceiros .logo-1 svg, #parceiros .logo-2 svg {
        height: auto;
    }

    footer {    
        padding: 0; 
    }

    footer .logo-1 svg, footer .logo-2 svg {
        height: auto;
    }

}

@keyframes girar {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}