<h3>Termos de uso e consentimento de dados</h3>
<br />
<p>
    Eu, como participante do curso Avaliação de Aprendizagem Escolar, informo que fui comunicado sobre o seu objetivo,
    bem como estou ciente de que meus dados serão utilizadas, exclusivamente, para os fins de emissão do certificado de
    conclusão do curso Avaliação de Aprendizagem Escolar e acompanhamento de uso da ferramenta. Declaro, ainda, que
    estou ciente que
    meus dados pessoais não serão divulgados, de forma nenhuma, a terceiros não interessados e desvinculados e que terei
    a opção de retirar meu consentimento a qualquer momento.
</p>